# SMTP
SMTP_HOST=smtp.example.fr
SMTP_PORT=587
SMTP_SECURE=tls
SMTP_USER=no-reply@ton-domaine.fr
SMTP_PASS=CHANGE_ME

# Mail
MAIL_TO=toi@ton-domaine.fr
MAIL_FROM=no-reply@ton-domaine.fr
MAIL_FROM_NAME=Ton sujet
MAIL_SUBJECT_PREFIX=[CV]
